<section class="p-6 dark:text-gray-800">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <form novalidate="" action="" class="container flex flex-col mx-auto space-y-12 ng-untouched ng-pristine ng-valid">
      <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm dark:bg-gray-100">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="space-y-2 col-span-full lg:col-span-1">
          <p class="font-medium">Профіль</p>
          <p class="text-xs">Налаштування профілю</p>
        </div>
        <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
          <div class="col-span-full sm:col-span-3">
            <%= form.label "Пошта" %><br />
            <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md dark:text-gray-800", placeholder: " Почта" %>
          </div>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Телефон" %><br />
            <%= form.text_field :phone, class: "w-full rounded-md dark:text-gray-800", placeholder: " +38(063)111-11-11" %>
          </div>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Ім'я" %><br />
            <%= form.text_field :name, class: "w-full rounded-md dark:text-gray-800", placeholder: " Ім'я"%>
          </div>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Фамілія" %><br />
            <%= form.text_field :last_name, class: "w-full rounded-md dark:text-gray-800", placeholder: " Фамілія" %>
          </div>

          <div class="col-span-full">
            <%= form.label "Зображення" %>
            <div class="flex items-center space-x-2">
              <%= form.file_field :avatar %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Пароль" %> <i class="text-xs">(залиште порожнім, якщо ви не хочете його змінювати)</i><br />
            <%= form.password_field :password, autocomplete: "new-password", class: "w-full rounded-md dark:text-gray-800" %>
            <% if @minimum_password_length %>
              <br />
              <em class="text-xs"><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Підтвердження паролю" %><br />
            <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "w-full rounded-md dark:text-gray-800" %>
          </div>

          <div class="col-span-full sm:col-span-3">
            <%= form.label "Поточний пароль" %> <i class="text-xs">(нам потрібен Ваш поточний пароль, щоб підтвердити ваші зміни)</i><br />
            <%= form.password_field :current_password, autocomplete: "current-password", class: "w-full rounded-md dark:text-gray-800" %>
          </div>

          <div class="col-span-full">
            <%= form.submit "Оновити", class: "px-5 py-1 border rounded dark:border-gray-900 dark:text-gray-900 cursor-pointer hover:bg-violet-400" %>
          </div>
        </div>
      </fieldset>
    </form>
  <% end %>
</section>
