<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 dark:bg-gray-100 dark:text-gray-800 mx-auto my-6">
  <div class="mb-8 text-center">
    <h1 class="my-3 text-4xl font-bold">Зареєструватися</h1>
    <p class="text-sm dark:text-gray-400">Зареєструйтесь, щоб отримати можливість залишати відгуки</p>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label "Пошта", class: "block mb-2 text-sm" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@gmail.com", class: "w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:text-gray-800" %>
  </div>

  <div>
    <div class="text-sm mb-2 block pt-4">
      <%= f.label "Пароль" %>
      <% if @minimum_password_length %>
        <em >(<%= @minimum_password_length %> символів мінімум)</em>
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:text-gray-800" %>
  </div>

  <div class="field">
    <%= f.label "Підтвердження паролю", class: "block mb-2 text-sm pt-4" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:text-gray-800" %>
  </div>

  <div class="space-y-2 pt-8">
    <div>
      <%= f.submit "Зареєструватися", class: "w-full px-8 py-3 font-semibold border rounded dark:border-gray-900 dark:text-gray-900 cursor-pointer hover:bg-violet-400" %>
    </div>
    <p class="px-6 text-sm text-center dark:text-gray-400">Маєте обліковий запис?
      <%= link_to "Увійти", new_user_session_path, class: "hover:underline dark:text-violet-400" %>
    </p>
  </div>
<% end %>

</div>

