<%= form_with model: @shop do |shop| %>
  <div>
    <%= shop.label :name %>
    <%= shop.text_field :name, required: true %>
  </div>

  <div>
    <%= shop.label :address %>
    <%= shop.text_field :address, required: true %>
  </div>

  <div>
    <%= shop.label :description %>
    <%= shop.text_field :description, required: true %>
  </div>

  <div>
    <%= shop.label :contact %>
    <%= shop.text_field :contact, required: true %>
  </div>

  <div>
    <%= shop.label "Pts:" %><br />
    <%= shop.collection_check_boxes :pt_ids, Pt.all, :id, :pt do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= shop.label "Benefits:" %><br />
    <%= shop.collection_check_boxes :benefit_ids, Benefit.all, :id, :children do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div>
    <%= shop.label :images %>
    <%= shop.file_field :images, multiple: true, required: true %>
  </div>

  <%= shop.submit "Submit" %>
<% end %>