<div id="<%= dom_id shop %>">
  <% if @shops %>
    <section class="pt-8">
    <div class="lg:divide-y lg:divide-gray-100 h-32 w-3/4">
      <%= link_to(shop, class: "text-xl text-gray-800 lg:text-2xl") do %>
            <div class="grid grid-cols-4 gap-1 grid-cols-[140px_1fr_1fr_1fr]">
              <div class="row-span-3 col-span-1">
                <% if shop.avatar.attached? %>
                    <p><%= image_tag shop.avatar, class: "w-full rounded-md h-32 w-32 object-cover" %></p>
                <% end %>
              </div>
              <div class="col-span-2">
                <p class = "text-xl text-gray-900"><%= shop.name %></p>
              </div>
              <div>
                <p class="text-base text-gray-900">
                  <span class="text-green-500">Likes: <%= shop.cached_votes_up %></span>
                  <span class="text-red-500">Dislikes: <%= shop.cached_votes_down %></span>
                </p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.pts.map(&:pt).sort.join(", ") %></p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.contact %></p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.prices.map(&:price).sort.join("") %></p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.address %></p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.benefits.map(&:children).sort.join(", ") %></p>
              </div>
              <div>
                <p class="text-base text-gray-900"><%= shop.working %></p>
              </div>
            </div>
      <% end %>
    </div>
  </section>
  <% else %>

    <div class="flex items-center -mx-4 space-x-2 overflow-x-auto overflow-y-hidden sm:justify-center flex-nowrap dark:text-gray-100">
      <%= link_to "Back", shops_path, class: "flex items-center flex-shrink-0 px-5 py-2 border-b-4 dark:border-gray-800 dark:text-gray-800 hover:dark:border-violet-400 hover:dark:text-violet-400" %>
      <% if user_signed_in? and current_user.workgroup == "admin" %>
        <%= link_to "Edit", edit_shop_path(shop), class: "flex items-center flex-shrink-0 px-5 py-2 border-b-4 dark:border-gray-800 dark:text-gray-800 hover:dark:border-violet-400 hover:dark:text-violet-400" %>
        <%= link_to "Delete", shop_path(shop), data: { "turbo-method": :delete, turbo_confirm: "You sure?" }, class: "flex items-center flex-shrink-0 px-5 py-2 border-b-4 dark:border-gray-800 dark:text-gray-800 hover:dark:border-red-400 hover:dark:text-red-400" %>
      <% end %>
    </div>

      <div class="container mx-auto p-5 pb-0">
        <div class="md:flex no-wrap md:-mx-2 ">
          <!-- Left Side -->
          <div class="w-full md:w-3/12 md:mx-2">
            <!-- Profile Card -->
            <div class="bg-white p-3">
              <div class="image overflow-hidden">
                <% if shop.avatar.attached? %>
                    <p><%= image_tag shop.avatar, class: "h-auto w-full mx-auto" %></p>
                <% end %>
              </div>
              <h1 class="text-gray-900 font-bold text-xl leading-8 my-1"><%= shop.name %></h1>
              <h3 class="text-gray-600 font-lg text-semibold leading-6"><%= shop.pts.map(&:pt).sort.join(", ") %></h3>
              <p class="text-sm text-gray-500 leading-6"><%= shop.description %></p>
              <ul
                class="text-gray-600 py-2 px-3 mt-3 divide-y rounded">
                <% if user_signed_in? %>
                  <li class="flex items-center py-3">
                    <span><%= button_to upvote_label(shop), vote_shop_path(shop, type: :upvote), method: :patch, style: upvote_label_styles(shop, current_user)%></span>
                    <span class="ml-auto"><%= button_to downvote_label(shop), vote_shop_path(shop, type: :downvote), method: :patch, style: downvote_label_styles(shop, current_user) %></span>
                  </li>
                <% else %>
                  <li class="flex items-center py-3">
                    <span class="text-green-500">Likes: <%= shop.cached_votes_up %></span>
                    <span class="ml-auto text-red-500">Dislikes: <%= shop.cached_votes_down %></span>
                  </li>
              <% end %>
              </ul>
            </div>
            <!-- End of profile card -->
            <div class="my-4"></div>
          </div>
          <!-- Right Side -->
          <div class="w-full md:w-9/12 mx-2 h-64">
            <!-- Profile tab -->
            <!-- About Section -->
            <div class="bg-white p-3 shadow-sm rounded-sm">
              <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                <span class="tracking-wide">Про нас</span>
              </div>
              <div class="text-gray-700">
                <div class="grid md:grid-cols-2 text-sm">
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Контакти</div>
                    <div class="px-4 py-2"><%= shop.contact %></div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Адреса</div>
                    <div class="px-4 py-2"><%= shop.address %></div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Час роботи</div>
                    <div class="px-4 py-2"><%= shop.working %></div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Ціна</div>
                    <div class="px-4 py-2"><%= shop.prices.map(&:price).sort.join("") %></div>
                  </div>
                  <div class="grid grid-cols-2">
                    <div class="px-4 py-2 font-semibold">Особливості</div>
                    <div class="px-4 py-2"><%= shop.benefits.map(&:children).sort.join(", ") %></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of about section -->
            <div class="my-4"></div>
            <!-- Experience and education -->
            <div class="bg-white p-3 shadow-sm rounded-sm">
              <span class="hoverWrapper">
                <div class="container flex flex-col justify-center p-4 mx-auto">
                  <div class="grid grid-cols-1 gap-4 lg:grid-cols-4 sm:grid-cols-2">
                    <% if shop.images.attached? %>
                      <% shop.images.each do |image| %>
                        <p><%= image_tag image, class: "object-cover w-full dark:bg-gray-500 aspect-square" %></p>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <div id="hoverContent">
                  <%= turbo_frame_tag dom_id(shop, :thumbnail), loading: :lazy, src: hovercard_shop_path(shop) do %>
                    Loading...
                  <% end %>
                </div>
              </span>
            </div>
            <!-- End of profile tab -->
          </div>
        </div>
      </div>
  <% end %>
</div>




