<fieldset class="search-field">
  <legend>Search Our Database</legend>
  <%= search_form_for @search do |f| %>

    <div class="field">
      <%= f.label "Benefits" %><br />
      <%= f.collection_check_boxes :benefits_id_in_any, Benefit.all, :id, :children do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "Place type" %><br />
      <%= f.collection_check_boxes :pts_id_in_any, Pt.all, :id, :pt do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</fieldset>
_________________
<br>


<%= link_to "Add new place", new_shop_path %>


<div id="shops" class="min-w-full">
  <%= render @shops %>
</div>

<div id="next_link">
  <%= button_to "next", pagy_url_for(@pagy, @pagy.next) %>
</div>

