<%= form_with model: @contact do |c| %>
  <div>
    <%= c.label :contact %>
    <%= c.text_field :contact %>
  </div>
  <div>
    <%= c.label :email %>
    <%= c.text_field :email %>
  </div>
  <div>
    <%= c.label :body %>
    <%= c.text_field :body %>
  </div>
  <%= c.submit "Submit" %>
<% end %>
