<div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 dark:bg-gray-100 dark:text-gray-800 mx-auto my-6">
  <div class="mb-8 text-center">
    <h1 class="my-3 text-4xl font-bold">Увійти</h1>
    <p class="text-sm dark:text-gray-400">Увійдіть, щоб отримати доступ до свого облікового запису</p>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="space-y-4">
      <div>
        <%= form.label "Пошта", class: "block mb-2 text-sm" %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@gmail.com", class: "w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:text-gray-800" %>
      </div>

      <div class="field">
        <%= form.label "Пароль", class: "block mb-2 text-sm" %>
        <%= form.password_field :password, autocomplete: "current-password", class: "w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:text-gray-800" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= form.check_box :remember_me %>
          <%= form.label "Запам'ятати мене", class: "text-sm" %>
        </div>
      <% end %>

      <div class="space-y-2">
        <div>
          <%= form.submit "Увійти", class: "w-full px-8 py-3 font-semibold border rounded dark:border-gray-900 dark:text-gray-900 cursor-pointer hover:bg-violet-400" %>
        </div>
        <p class="px-6 text-sm text-center dark:text-gray-400">Ще не маєте облікового запису?
          <%= link_to "Зареєструватися", new_user_registration_path, class: "hover:underline dark:text-violet-400" %>
        </p>
      </div>
    </div>
<% end %>
</div>

