<%= form_with(model: price, class: "contents") do |form| %>

  <%= render 'static_page/errors', object: price %>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: "form-control block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
