
<% for review in @shop.reviews %>
 <div>
    <%= review.message %>
    <%= link_to 'Edit', edit_shop_review_path(@shop, review) %>
 </div>
  <%#= link_to 'Delete', [@shop, review], data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
<% end %>


<%= form_with(model: [@shop, @shop.reviews.build], local: true) do |review| %>
  <%= review.text_field :message, required: true %>
  <%= review.submit "Submit" %>
<% end %>

